:root {
    --color-red: rgb(218, 88, 88);
    --color-orange: rgb(237, 148, 84);
    --color-yellow: rgb(250, 221, 117);
    --color-green: rgb(63, 198, 97);
    --color-cyan: rgb(92, 216, 230);
    --color-blue: rgb(73, 126, 233);
    --color-purple: rgb(113, 84, 242);
    --color-pink: rgb(213, 108, 195);

    --accent-primary: var(--color-purple);
    --accent-secondary: var(--color-green);

    --foreground: rgb(160, 160, 160);
    --foreground-weak: rgb(60, 62, 63);
    --foreground-strong: rgb(255,255,255);

    --background: rgb(10,10,10);

    --contrast: rgba(255,255,255, 0.05);
    --contrast-more: rgba(255,255,255, 0.1);
}   
