$red: rgb(218, 88, 88);
$orange: rgb(237, 148, 84);
$yellow: rgb(250, 221, 117);
$green: rgb(63, 198, 97);
$cyan: rgb(92, 216, 230);
$blue: rgb(73, 126, 233);
$purple: rgb(113, 84, 242);
$pink: rgb(213, 108, 195);

$accent-primary: $purple;
$accent-secondary: $green;

$foreground: rgb(180, 180, 180);
$foreground-weak: rgb(70, 72, 73);
$foreground-strong: rgb(255,255,255);

$background: rgb(13,13,13);

$contrast: rgba(255,255,255, 0.05);
$contrast-more: rgba(255,255,255, 0.1);

:root {
    --color-red: #{$red};
    --color-orange: #{$orange};
    --color-yellow: #{$yellow};
    --color-green: #{$green};
    --color-cyan: #{$cyan};
    --color-blue: #{$blue};
    --color-purple: #{$purple};
    --color-pink: #{$pink};

    --accent-primary: var(--color-purple);
    --accent-secondary: var(--color-green);

    --foreground: #{$foreground};
    --foreground-weak: #{$foreground-weak};
    --foreground-strong: #{$foreground-strong};

    --background: #{$background};

    --contrast: #{$contrast};
    --contrast-more: #{$contrast-more};
}   
