@use 'header';
@use 'footer';

html {
    background: var(--background);
    min-height: 100vh;
}

body.default {
    --spacing-vertical: min(3em, 5vh);
    --spacing-horizontal: min(3em, 5vw);

    --content-width: 100%;
    --max-content-width: 60ch;

    container-type: inline-size;
    container-name: body;

    flex: 1;
    max-width: 135ch;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-vertical) var(--spacing-horizontal);
    gap: var(--spacing-vertical) 0;

    html:has(&) {
        display: flex;
        justify-content: center;
    }

    > div#content {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: var(--spacing-vertical);

        > main {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;

            > * {
                max-width: var(--max-content-width);
                width: var(--content-width);
            }

            .giscus {
                margin-top: var(--spacing-vertical);
                padding-top: var(--spacing-vertical);
                border-top: 1px solid var(--contrast-more);
            }
        }

        > aside {
            justify-self: right;

            max-width: 40ch;
            min-width: 30ch;

            > * {
                position: sticky;
                top: 2em;
            }

            &:not(:has(*)) {
                display: none;
            }
        }
    }
}

@container body (max-width: calc(90ch + 4em)) {
    body > div#content {
        > main {
            width: 100%;
            > article {
                min-width: auto;
                width: 100%;
            }
        }

        > aside {
            display: none;
        }
    }
}
