{% extends 'layouts/empty.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
{% endblock style %}

{% block layout %}
<header>
    <a id="logo" href="{{ config.base_url }}">
        <span>{{ config.extra.sld }}</span>
        <span class="tld">.{{ config.extra.tld }}</span>
    </a>
    <nav>
        {% if config.extra.navigation %}
            <ul class="pages">
                {% for entry in config.extra.navigation %}
                    {% if entry.target is ending_with("_index.md") %}
                        {% set target = get_section(path=entry.target) %}
                    {% else %}
                        {% set target = get_page(path=entry.target) %}
                    {% endif %}
                    <li {% if target.path == current_path %}class="active"{% endif %}>
                        <a href="{{ target.permalink }}">{{ entry.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if config.extra.socials %}
            <ul class="socials">
                {% for entry in config.extra.socials %}
                    <li><a href="{{ entry.url }}" class="icon">{{ entry.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</header>

<div id="content">
    <main>{% block main %}{% endblock main %}</main>
    <aside>{% block aside %}{% endblock aside %}</aside>
</div>

<footer>
    {% set author = config.extra.author %}
    {% if author %}
        <section id="author">

            <img src="{{ get_url(path="fingerprint.svg") }}" alt="{{ author.fingerprint }}" class="gpg-qr">

            <address>
                <p class="name">{{ author.name }}{% if author.email %}<a href="mailto:{{author.email}}">{{author.email}}</a>{% endif %}</p>
                <code class="gpg-id">{{ author.fingerprint }}</code>
                <code class="gpg-locate">gpg2 --locate-keys {{author.email}}</code>
            </address>
        </section>
    {% endif %}

    <section id="copyright">
        <p>&copy; {{ now() | date(format="%Y") }} {{ config.extra.author.name }}</p>
    </section>
</footer>

{% endblock content %}