section#identity {
    display: flex;
    gap: 2em;

    img.gpg-qr {
        height: 6em;
        border-radius: 0.3em;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.4);
        }
    }

    address {
        display: flex;
        flex-direction: column;
        font-style: normal;

        p {
            margin: 0;
        }

        code {
            display: flex;
            gap: 0.5em;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}
