@use '../../colors';

section#identity {
    display: flex;
    gap: var(--spacing-horizontal);
    justify-content: center;
    align-items: center;

    img.gpg-qr {
        height: 7em;
        border-radius: 0.3em;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.4);
        }
    }

    address {
        display: flex;
        flex-direction: column;
        font-style: normal;
        justify-content: space-between;
        gap: 0.5em;

        p {
            margin: 0;
        }

        code {
            display: flex;
            gap: 0.5em;
            align-items: center;
            flex-wrap: wrap;
            border: 0;
            padding: 0;
            background: none;
        }

        .contact-note {
            color: var(--foreground-weak);
        }
    }
}

@container body (max-width: 500px) {
    section#identity img {
        display: none;
    }
}