@use 'socials';
@use 'identity';
@use 'copyright';

@container body (max-width: 1000px) {
    footer {
        border-top: 1px solid var(--contrast-more);
        padding-top: var(--spacing-vertical);
        
        display: flex;
        flex-direction: column;
        gap: var(--spacing-vertical);

        > #identity {
            padding-bottom: var(--spacing-vertical);
            border-bottom: 1px solid var(--contrast-more);
        }
    }
}

@container body (min-width: 1000px) {
    footer {
        border-top: 1px solid var(--contrast-more);
        padding-top: var(--spacing-vertical);
        
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template:
            "socials author"
            "copyright copyright";
        gap: var(--spacing-vertical);

        > #socials {
            grid-area: socials;
        }

        > #identity {
            grid-area: author;

            padding-left: var(--spacing-horizontal);
            border-left: 1px solid var(--contrast-more);
        }

        > #copyright {
            grid-area: copyright;
        }
    }
}
