div.alert {
    padding: 1.5rem;
    border-radius: 0.3rem;

    &.info {
        background: color-mix(in srgb, var(--color-blue) 20%, transparent);
        color: var(--color-blue);
    }

    &.warning {
        background: color-mix(in srgb, var(--color-yellow) 20%, transparent);
        color: var(--color-yellow);
    }

    &.error {
        background: color-mix(in srgb, var(--color-red) 20%, transparent);
        color: var(--color-red);
    }
}