

/* 
code {
    background: rgb(10,10,10);
    padding: 1.5rem;
}
 */
// pre that has any data-lang attribute
pre[data-lang] {
    background: rgb(20, 20, 20) !important;
    padding: 1.5rem;
    //margin-inline: -1.5rem;
    border-radius: 0.2rem;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;

}



::-webkit-scrollbar {
    height: 1.7em;
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10em;
    background: rgba(255, 255, 255, 0.1);
    background-clip: content-box;
    border: 0.5em solid transparent;

    &:hover {
        border-radius: 10em;
        background: rgba(255, 255, 255, 0.2);
        background-clip: content-box;
        border: 0.5em solid transparent;
    }
}


