code:not([data-lang]) {
    padding: 0 .4em;
    border-radius: 0.3rem;
    user-select: all;
    color: var(--color-yellow);
    background: var(--contrast);
    border: 1px solid var(--contrast-more);
    display: inline-block;
}

pre[data-lang] {
    background: var(--contrast) !important;
    padding: 1.5rem;
    border-radius: 0.2rem;
    overflow-x: auto;
    //white-space: pre-wrap;
    //word-wrap: break-word;

    &::-webkit-scrollbar {
        height: 1.5em;
    }
   
    &::-webkit-scrollbar-thumb {
        border-radius: 10em;
        background: var(--contrast);
        background-clip: content-box;
        border: 0.5em solid transparent;
    
        &:hover:not(:active) {
            background: var(--contrast-more);
            background-clip: content-box;
        }
    }
}
