@use '../colors';

html {
    @-moz-document url-prefix() {
        scrollbar-color: var(--contrast) transparent;
    }

    &::-webkit-scrollbar {
        width: 0.7em;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10em;
        background: var(--contrast);

        &:hover:not(:active) {
            background: var(--contrast-more);
        }
    }
}
