nav#table-of-contents {
    --indent: 1.5rem;
    --transition-duration: 0.2s;
    --color-accent: #8066F5;
    --color-foreground: #F5F5F5;
    --indicator-size: 2px;
    --icon-size: 1.5rem;

    ol { --level: 0; }
    ol ol { --level: 1; }
    ol ol ol { --level: 2; }
    ol ol ol ol { --level: 3; }
    ol ol ol ol ol { --level: 4; }
    ol ol ol ol ol ol { --level: 5; }
    ol ol ol ol ol ol ol { --level: 6; }

    border-left: var(--indicator-size) solid rgb(20,20,20);

    > ol {
        margin: 0 0 0 calc(var(--indicator-size) * -1);
    }

    ol {
        padding: 0;
        list-style: none;
    }

    a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 0.3rem 0.6rem;
        border-radius: 0.4rem;

        &:hover {
            color: var(--color-foreground);
            background: rgba(255, 255, 255, 0.1);
        }

        &.active:not(:hover) {
            color: var(--color-foreground);
        }
    }

    li {
        &:not(:has(> .accordion)), > .accordion > label {
            padding-left: calc(var(--level) * var(--indent) + calc(1rem + var(--icon-size)));
            border-left: var(--indicator-size) solid transparent;

            &:has(> .active) {
                border-color: var(--color-accent);
            }

            &:is(label) {
                padding-left: calc(var(--level) * var(--indent) + 1rem);
            }
        }
    }

    div.accordion {
        input {
            display: none;

            ~ .content {
                display: grid;
                grid-template-rows: 1fr;
                transition: grid-template-rows var(--transition-duration) ease-out;
            }

            ~ .content > * {
                overflow: hidden;
            }

            &:not(:checked) ~ .content {
                grid-template-rows: 0fr;
            }

            &:checked ~ label::before {
                transform: rotate(90deg);
            }
        }

        label {
            display: block;
            display: flex;
            align-items: center;

            &::before {
                font-family: 'Material Symbols Outlined';
                font-size: var(--icon-size);
                width: var(--icon-size);
                height: var(--icon-size);
                content: "chevron_right";
                transition: transform var(--transition-duration) ease-in-out;
            }

            a {
                flex: 1;
                display: block;
            }
        }
    }
}
