@use 'icons';

nav#table-of-contents {
    --indent: 1rem;
    --transition-duration: 0.1s;
    --indicator-size: 1px;
    --icon-size: 1.5rem;

    font-size: 0.9em;
    line-height: 1.3em;

    ol { --level: 0; }
    ol ol { --level: 1; }
    ol ol ol { --level: 2; }
    ol ol ol ol { --level: 3; }
    ol ol ol ol ol { --level: 4; }
    ol ol ol ol ol ol { --level: 5; }
    ol ol ol ol ol ol ol { --level: 6; }

    border-left: var(--indicator-size) solid var(--contrast-more);

    > ol {
        margin: 0 0 0 calc(var(--indicator-size) * -1);
    }

    ol {
        padding: 0;
        list-style: none;
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 0.3rem 0.6rem;
        border-radius: 0.4rem;
        margin: 0;
        color: var(--foreground);

        &:hover {
            color: var(--foreground-strong);
            background: var(--contrast);
        }

        &.active:not(:hover) {
            color: var(--foreground-strong);
        }
    }

    li {
        &:not(:has(> .accordion)), > .accordion > label {
            padding-left: calc(var(--level) * var(--indent) + calc(1rem + var(--icon-size)));
            border-left: var(--indicator-size) solid transparent;

            &:has(> .active) {
                border-color: var(--accent-secondary);
            }

            &:is(label) {
                padding-left: calc(var(--level) * var(--indent) + 1rem);
            }
        }
    }

    div.accordion {
        input {
            display: none;

            ~ .content {
                display: grid;
                grid-template-rows: 1fr;
                transition: grid-template-rows var(--transition-duration) ease-out;
            }

            ~ .content > * {
                overflow: hidden;
            }

            &:not(:checked) ~ .content {
                grid-template-rows: 0fr;
            }

            &:checked ~ label::before {
                transform: rotate(90deg);
            }
        }

        label {
            display: block;
            display: flex;
            align-items: center;

            &::before {
                font-size: var(--icon-size);
                transition: transform var(--transition-duration) ease-in-out;
            }

            a {
                flex: 1;
                display: block;
            }
        }
    }
}
