@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: var(--foreground);
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.4em;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--foreground-strong);

    a {
        text-decoration: none;
        color: inherit;
        position: relative;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: inherit;

            &::before {
                content: '#';
                position: absolute;
                left: -1em;
                font-size: 1.2em;
                padding-right: 0.3em;
                color: var(--foreground-weak);
            }
        }
    }
}

a {
    color: var(--accent-secondary);
    text-decoration: none;

    &:hover {
        color: var(--foreground-strong);
        text-decoration: underline;
    }

    &[href^="mailto:"] {
        position: relative;
    
        &::before {
            content: '[';
            padding-right: 0.1em;
            color: var(--foreground-weak);
        }
    
        &::after {
            content: ']';
            padding-left: 0.1em;
            color: var(--foreground-weak);
        }
    }
}
