@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Material+Symbols+Outlined&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.6);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.95);

    a {
        text-decoration: none;
        color: inherit;
        position: relative;

        &:hover::before {
            content: '#';
            color: rgba(255, 255, 255, 0.2);
            position: absolute;
            left: -1em;
        }
    }
}

p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.6em;
}


a[href^="mailto:"] {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    position: relative;

    &:hover {
        color: rgb(63, 198, 97);
    }

    &::before {
        content: '[';
        color: rgba(255, 255, 255, 0.2);
    }

    &::after {
        content: ']';
        color: rgba(255, 255, 255, 0.2);
    }
}