@use 'footer';
@use 'header';

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    background: rgb(10, 10, 10);
}

body {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    width: 100vw;
    flex-direction: column;
    align-items: center;

    >header {
        max-width: 1200px;
        width: 100%;
        padding-block: 3em;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    >#content {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 2em;
        padding-inline: 2em;

        >main {
            max-width: 70ch;
            width: 100%;
            flex: 2;
        }

        >aside {
            flex: 1;
            max-width: 40ch;
            position: sticky;
            top: 1em;
            display: flex;
            flex-direction: column;

            &:not(:has(*)) {
                display: none;
            }
        }

        @media (max-width: 120ch) {
            flex-direction: column;

            >aside {
                max-width: 100%;
            }
        }

    }

    >footer {
        max-width: 1000px;
        width: 100%;
        padding-block-start: 2em;
    }
}