@use 'footer';
@use 'header';

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    background: rgb(10, 10, 10);
}

body {
    display: flex; 
    min-height: 100vh;
    max-width: 100%;
    width: 100vw;
    flex-direction: column;
    align-items: center;

    > header {
        max-width: 1000px;
        width: 100%;
        padding-block: 3em;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    > #content {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        > main {
            max-width: 70ch;
            width: 100%;
        }

        > aside {
            &:not(:has(*)) {
                display: none;
            }

            position: sticky;
            top: 1em;
            display: flex;
            flex-direction: column;
            padding-inline-start: 2em;
        }
        
    }

    > footer {
        max-width: 1000px;
        width: 100%;
        padding-block-start: 2em;
    }
}
