@use 'footer';
@use 'header';

body {
    background: rgb(10, 10, 10);
}

body {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    width: 100vw;
    padding: 1em;

    > header {
        place-self: center;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        max-width: 1200px;
        width: 100%;

        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
            gap: 1em;
        }
    }

    > #content {
        display: flex;
        max-width: 100%;
        container-type: inline-size;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;

        > aside:not(:has(*)) {
            display: none;
        }

        > main {
            max-width: 70ch;
            min-width: 50ch;
            flex: 2;
            overflow: auto;
        }

        > aside {
            max-width: 40ch;
            min-width: 10ch;
            width: fit-content;
            position: sticky;
            top: 1em;
        }

        @container (width < 90ch) {
            > main {
                min-width: auto
            }
            > aside {
                display: none;
            }
        }
    }
}
