{% extends "default.html" %}
{% import "macros/headings.html" as headings %}
{% import "macros/date.html" as date %}

{% block script %}
    <script src="{{ get_url(path="anchors.js", trailing_slash=false) }}"></script>
    <script src="{{ get_url(path="relative.js", trailing_slash=false) }}"></script>
{% endblock script %}

{% block aside %}
    {{ headings::table_of_contents(headings=page.toc) }}
{% endblock aside %}

{% block main %}
    <article>
        <header>
            <div class="publication">
                <time datetime="{{ page.date }}">{{ date::ordinal(date=page.date) }}</time>
                {% if page.updated %}
                    {% set ordinal = date::ordinal(date=page.updated) | trim %}
                    <span>- updated <time datetime="{{ page.updated }}" title="{{ ordinal }}" class="relative">{{ ordinal }}</time></span>
                {% endif %}
            </div>
            {% if page.taxonomies.tags %}
                {% set tags = page.taxonomies.tags %}
                <ul class="tags">
                    {% for tag in tags %}
                        <li><a class="tag" href="{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1>{{ page.title }}</h1>
            {% if page.authors %}
                <ul class="authors">
                    {% for author in page.authors %}
                        <li>{{ author }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </header>
        {{ page.content | safe }}
    </article>

    {% if page.earlier %}Previous article: {{ page.earlier.permalink }}{% endif %}
    {% if page.later %}Next article: {{ page.later.permalink }}{% endif %}

    {% if page.extra.comments | default(value=true) %}
        {% set giscus = config.extra.giscus | default(value="{}") %}
        <script src="https://giscus.app/client.js"
            data-repo="{{ giscus.repo }}"
            data-repo-id="{{ giscus.repo_id }}"
            data-category="{{ giscus.category }}"
            data-category-id="{{ giscus.category_id }}"
            data-mapping="{{ giscus.mapping }}"
            data-strict="{% if giscus.strict %}1{% else %}0{% endif %}"
            data-reactions-enabled="{% if giscus.reactions_enabled %}1{% else %}0{% endif %}"
            data-emit-metadata="{% if giscus.emit_metadata %}1{% else %}0{% endif %}"
            data-input-position="{{ giscus.input_position }}"
            data-theme="{{ config.base_url }}/giscus.css"
            data-lang="{{ giscus.lang }}"
            crossorigin="anonymous"
            async>
        </script>
    {% endif %}
{% endblock main %}