<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.extra.author.name }}">
    <meta name="darkreader-lock">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% block style %}{% endblock style %}
</head>

{% block body %}
    <body class="{% block layout_name %}base{% endblock %}">
        {% block layout %}
            {% block main %}{% endblock main %}
        {% endblock layout %}
        {% block script %}{% endblock script %}
    </body>
{% endblock body %}
</html>