{% extends 'default.html' %}
{% import "macros/date.html" as date %}

{% block layout_name %}default articles{% endblock %}

{% block script %}
<script src="{{ get_url(path=" relative.js", trailing_slash=false) }}"></script>
{% endblock script %}

{% block main %}
{% set articles = get_section(path="articles/_index.md") %}
{% if articles.pages | length > 0 %}
<ol class="article-list">
    {% for post in articles.pages %}
    <li>
        <article>
            <header>
                <div class="publication">
                    <time datetime="{{ post.date }}">{{ date::ordinal(date=post.date) }}</time>
                    {% if post.updated %}
                    {% set ordinal = date::ordinal(date=post.updated) | trim %}
                    <span>- updated
                        <time datetime="{{ post.updated }}" title="{{ ordinal }}" class="relative">
                            {{ ordinal }}
                        </time>
                    </span>
                    {% endif %}
                </div>
                {% if post.taxonomies.tags %}
                {% set tags = post.taxonomies.tags %}
                <ul class="tags">
                    {% for tag in tags %}
                    <li><a class="tag" href="{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h1 class="icon-{{ post.extra.icon | default(value=" document") }}">
                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                </h1>
            </header>
            {% if post.summary %}
            <summary>{{ post.summary | safe }}</summary>
            {% endif %}
        </article>
    </li>
    {% endfor %}
</ol>
{% endif %}
{% endblock main %}